@page
@model EmployeeShiftManagement.Pages.Employees.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.Username" class="control-label"></label>
                <input asp-for="Employee.Username" class="form-control" />
                <span asp-validation-for="Employee.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Password" class="control-label"></label>
                <input asp-for="Employee.Password" class="form-control" />
                <span asp-validation-for="Employee.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeNo" class="control-label"></label>
                <input asp-for="Employee.EmployeeNo" class="form-control" />
                <span asp-validation-for="Employee.EmployeeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ContractStartingDate" class="control-label"></label>
                <input asp-for="Employee.ContractStartingDate" class="form-control" />
                <span asp-validation-for="Employee.ContractStartingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ContractEndingDate" class="control-label"></label>
                <input asp-for="Employee.ContractEndingDate" class="form-control" />
                <span asp-validation-for="Employee.ContractEndingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeRoleId" class="control-label"></label>
                <select asp-for="Employee.EmployeeRoleId" class ="form-control" asp-items="ViewBag.EmployeeRoleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
