@page
@model SmukToolsApp.Pages.EventCalenderModel
@{
    ViewData["Title"] = "EventCalender";
}

<h1>EventCalender</h1>


<link href="~/css/Calendar.css" rel="stylesheet" type="text/css" />
<div id='crudcalendar' class="">

</div>