@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="col-6 offset-3" >
<a class="btn btn-outline-primary btn-block btn-lg" style="margin-top:30%;" href="/JSDemo">Simple JS Demo</a>
<a class="btn btn-outline-success btn-lg btn-block mt-2" href="CRUDDemo">.NET CRUD Demo</a>

</div>